body {
  background-color: rgba(236, 169, 182, 0.5);
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgba(242, 86, 118, 0.5);
  color: white;
}

.main-container {
    align-items: center;
}

.row {
  display: flex;
}

.column {
  border: solid, 1px, black;
  text-align: center;
  flex: 50%;
  padding: 2%;
  margin: 1%;
  border-radius: 5%;
}

#main-photo{
    margin-top: 3%;
    margin-bottom: 3%;
    width:100%;
} 
#about-text{
    margin-left: 3%;
    margin-right: 3%;
}
label {
  display:flex;
  flex-direction: column;
  padding:2%;
}
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: rgba(240, 49, 87, 0.5);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Change the background color of the submit button on hover */
input[type=submit]:hover {
  background-color: rgba(247, 151, 170, 0.5);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
} 

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-right:5%;
  align-items: center;
  justify-content: center;
}

li {
  /* height: 60vh; */
  flex-grow: 1;
  background-size: cover;
}

.image {
  /* max-height: 100%; 
  width: 100%;
  object-fit: cover;
  vertical-align: bottom; */ 
  display: block;
  margin: auto;
  width: 50%;
} 

li:last-child {
  flex-grow: 10;
} 
#spotify {
  margin-right:2.5%
}
@media screen and (max-width: 480px) {
  #spotify {
    margin-right:10%;
  }
}

@media (max-aspect-ratio: 1/1) {
  li {
    height: 100%;
  }
} 

@media (max-height: 768px) {
  li {
    height: 100%;
  }
} 

@media (max-aspect-ratio: 1/1) and (max-width: 768px) {
  .image-gallery {
    flex-direction: row;
  }

  li {
    height: 100%;
    width: 100%;
  }

  .image {
    margin-top: 2%;
    width: 100%;
    max-height: 100%;
    object-fit: cover;  

    min-width: 0;
  }
}